@use 'b';
@use "reset";
@use "mobile";

// sass --watch stylesheet/style.scss index.css

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
  }
  select {
    font-size: b.$fontsize-2;
  }
  a {
    font-weight: 500;
    text-decoration: inherit;
    color : inherit;
    transition: all ease 0.2s;
    font-size: b.$fontsize-3;
  }
  a:hover {
    color: b.$blue-7;
  }
  
  body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
  }

  p {
    font-size: b.$fontsize-3;
  }

  h1 {
    font-size: calc(b.$fontsize-5 + 1em);
    font-family: b.$titlefont;
    line-height: 1.1;
  }
  
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  } 
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    button {
      background-color: #f9f9f9;
    }
  }

  #header {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5vw;
    padding-left: 5vw;
    box-shadow: 2px 3px 11px 5px rgba(0,0,0,0.10);
    ul {
        display: flex;
        list-style: none;
        font-family: b.$boldfont;
        
        li {
           margin-left :2em;
           transition: border ease 100ms;
        }
    }
    div:nth-child(3){
      display: none;
    }
  }

  .headerUnderline {
    border-bottom : 2px solid black;
    &:hover {
      border-bottom: 2px solid b.$blue-7;
    }
  }
  #logoSection {
    display: flex;
    flex-direction: row;
    transition: all ease-out 400ms;
    svg {
      transform: translateY(50%);
      path {
        transition: all ease 400ms;
      }
    }
    &:hover {
      svg path {
        transform: scale(1.03);
        fill : b.$blue-7;
      }
    }
  }

  #footer{
    @include b.center;
    padding: 0 b.$space-around;
    padding: 5vh 0;
  }

  #learnformula {
    margin-top: 25%;
    margin-bottom: 10vw;
    text-align: center;

    label {
      input {
        outline : none;
      }
     
    }
  }
  #learnCourse {
    font-family: b.$lightfont;
    font-size: b.$fontsize-3;
    h3 {
      font-family: b.$titlefont;
    }
  }
  
  .course {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .courseList {
    display: flex;
    flex-wrap: wrap;
    animation: slideDown ease 1 200ms;
    p {
      background-color: inherit;
      padding : calc(0.2em + 1vw);
      border : 2px solid b.$black;
      border-radius: 15px;
      margin-right: 1vw;
      transition: all ease 100ms;
    }
    p:hover {
      background-color: b.$black;
      color: white;
    }
  }
  .smallcourse {
    animation: slideDown ease 1 200ms ;
    h2 {
      background-color: inherit;
      padding : calc(0.2em + 1vw);
      border : 2px solid b.$black;
      border-radius: 15px;
      margin-right: 1vw;
      transition: all ease 100ms;
      background-color: b.$black;
      color: white;
      text-align: center;
    }
    p {
      border: none;
    }
    p:hover {
      background-color: white;
      color: b.$black;
    }
    
  }
  #spinnerCoursegeneration {
    transform: translateY(-1vw);
    margin: 0vw;
    background-color: b.$black;
    @include b.center;
    width: max-content;
    height: fit-content;
    padding: 0.5vw;
    border-radius: 15px;
  }

  #learnCourseHeader {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        height: 40vh;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
        border: 2px solid black;
    }
  }



  #introsection {
      margin-top: 15vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    h1 {
      text-align: center;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60vw;
      height: 40vh;
      background-color: b.$black;
      border-radius: 25px;
      background-image: url(./assets/backdrop.jpg) ;
      background-size: cover;
      animation: slideFromRight 1s ease-out;
      position: relative;
      .octagonTag {
        svg {
          transform: scale(2);
        }
        position: absolute;
        top: -10%;
        right: -2%;
        width:70px;
        height: 70px;
        background: b.$blue-7;
        clip-path: polygon(
    50% 0%, 
    53.396 0.281,
    56.756 1.123,
    60.048 2.516,
    63.251 4.449,
    66.342 6.92,
    69.298 9.925,
    72.098 13.458,
    74.722 17.508,
    77.148 22.06,
    79.355 27.097,
    81.318 32.601,
    83.017 38.55,
    84.431 44.922,
    85.541 51.687,
    86.331 58.812,
    86.79 66.264,
    86.909 74,
    86.684 81.979,
    86.111 90.146,
    85.189 98.449,
    83.918 106.831,
    82.301 115.238,
    80.342 123.61,
    78.046 131.888,
    75.419 139.998,
    72.469 147.874,
    69.204 155.449,
    65.636 162.656,
    61.774 169.427,
    57.632 175.698,
    53.222 181.408,
    48.56 186.497,
    43.663 190.91,
    38.548 194.597,
    33.233 197.517,
    27.738 199.639,
    22.085 200.938,
    16.296 201.397,
    10.395 201.007,
    4.405 199.763,
    -1.595 197.666,
    -7.557 194.722,
    -13.487 190.943,
    -19.36 186.348,
    -25.156 180.959,
    -30.853 174.802,
    -36.429 167.906,
    -41.861 160.305,
    -47.129 152.037,
    -52.214 143.146,
    -57.096 133.681,
    -61.758 123.693,
    -66.184 113.237,
    -70.358 102.369,
    -74.265 91.149,
    -77.89 79.64,
    -81.221 67.904,
    -84.242 55.99,
    -86.944 43.951,
    -89.316 31.838,
    -91.349 19.703,
    -93.035 7.595,
    -94.365 -4.448,
    -95.334 -16.418,
    -95.936 -28.355,
    -96.167 -40.214,
    -96.023 -52.038,
    -95.503 -63.773,
    -94.606 -75.366,
    -93.332 -86.761,
    -91.682 -97.901,
    -89.656 -108.725,
    -87.257 -119.174,
    -84.487 -129.189,
    -81.35 -138.714,
    -77.849 -147.693,
    -73.992 -156.072,
    -69.785 -163.799,
    -65.24 -170.824,
    -60.366 -177.1,
    -55.178 -182.58,
    -49.689 -187.222,
    -43.918 -190.984,
    -37.882 -193.83,
    -31.605 -195.724,
    -25.113 -196.642,
    -18.431 -196.562,
    -11.587 -195.474,
    -4.608 -193.374
    )

      }
    }
    
    ul {
        color: white;
        list-style: none;
        font-size: b.$fontsize-5;
        font-family: b.$boldfont;
    }
    }

    #videointrosection {
      margin-top: 20vh;
      color:white;
      background: rgb(125,202,240);
      background: linear-gradient(177deg, rgba(125,202,240,1) 0%, rgba(194,245,255,1) 0%, rgba(145,147,236,1) 0%, rgba(172,214,225,1) 100%);
      display: flex;
      padding : 10vh b.$space-around;
      
      video {
        width: 40%;
        border-radius: 20px;
      }
    }

    #loading {
      z-index: 10;
      background-color: b.$blue-1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .quote {
        font-family: "Roboto";
        letter-spacing: 3px;
      }
      .img {
        width: 20vw;
        height: 20vw;
        background-image: url(./assets/workingmen.png);
        background-size: cover;
        background-position: center; 
      }
      .loadingText {
        position: relative;
        display: flex;
        .point {
          width: 10px;
          height: 10px;
          background: black;
          border-radius: 50%;
          margin-left: 10px;
        } 
      }
      @keyframes bounce {
        0%, 100% {
          transform: translateY(70px);
        }
        50% {
          transform: translateY(60px); /* Adjust the bounce height as needed */
        }
      }
      .point:nth-child(2) {
        animation: bounce 1s infinite 0.1s alternate;
      }
      .point:nth-child(3) {
        animation: bounce 1s infinite 0.2s alternate;
      }     
      .point:nth-child(4) {
        animation: bounce 1s infinite 0.3s alternate;
      }
      h1 {
        letter-spacing: 10px;
      }
    }
   
    #summary {

      height: calc(50px + 20vh);
      background: b.$blue-2;
      display: flex;
      padding: 10px;
      border-radius: 20px;
      gap: 5px;
      cursor: pointer;
      div {
        background-color: b.$blue-3;
          flex-grow: 1;
          text-align: center;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: b.$fontsize-3;
          font-family: b.$boldfont;
          letter-spacing: 2px;
          transition: all ease 200ms;
      }
      .selectedSummary{
        border: 2px solid b.$black;

        background-color: b.$blue-7;
        color: white;
      }
    }

    
    .pageTransitioner {
      overflow: none  ;
      position: absolute;
      top: 0;
      left: 0;
      width: 200vw;
      height: 100%;
      border-radius: 500px;
      background: b.$blue-4; /* Make sure b.$blue-7 is a valid color variable or replace it with a valid color value */
      transition: all ease 500ms; /* Add property name 'left' before ease */
      z-index: 3;
    }
    
    .pageTransitionerSlideIn {
      left: -30%; /* Remove 'px' unit from 0 */
    }
    
    .pageTransitionerSlideOut {
      left: 100%; /* Add missing semicolon and remove 'px' unit from 100% */

    }

    .trainQuestion {
      h1 {
        text-align: left;
        align-self: flex-start;
      }
      animation: slideDown ease 1 200ms ;
      margin-top: 2vh;
      margin-bottom: 10vh;
      padding-bottom: 2vh;
      border: solid 2px b.$black;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 3vw;
      padding-right: 3vw;
      z-index: 1;
      .question {
        position: relative;
        transition : all ease 1s;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div p {
          animation: slideDown ease 200ms;
        }
        .wrongQCManswer {
          color : red;
          text-decoration: line-through;
          transition : all ease 1s;

        }
        .goodQCManswer {
          color : lime;
          transition : all ease 1s;

        }
      }
      
      #hint {
        animation : slideRight ease 200ms 1;
        padding: 20px;
        position: absolute;
        height: fit-content;
        width: 20%;
        top: 0;
        right: 0%;
        border-radius: 25px;
        border: b.$black 1px solid;
        transition: all ease 300ms;
        z-index: 2;
        background-color: white;
        display : flex;
        flex-direction: column;
        &.active {
          opacity: 1;
        }
        &.inactive {
          opacity: 0;
        }
        button {
      
          background-color: b.$blue-5;
        }
        
      }
    }

    
    
    .settingsIcon {
      height: 3em;
      width: 4em;
      @include b.center;
      background-color: b.$black;
      color : white;
      border-radius: 15px;
      margin-left: 0.5vw;
      svg {
        width : calc(1em + 1vw);
        height: calc(1em + 1vw);
      }
    }


    .settings {
      margin-top: 1vh;
      display: flex;
      justify-content: space-between;
      background-color: b.$blue-1;
      height: fit-content;
      padding: 0.7em;
      border-radius: 15px;
      letter-spacing: b.$normalLetterSpacing;
      animation: slideDown ease 1 200ms ;
      label {
        p {
          @include b.center;
          border-radius: 5px;
          transition: all ease 300ms;
        }
        select {
          background-color: inherit;
          border: black 1px solid;
          padding : calc(0.5em + 0.5vw);
          border-radius: 15px;
          font-family: b.$lightfont;
          letter-spacing: inherit;
          
        }
      }
    }
    .normalSizeChat {
      width : calc(250px + 5vw);
    }
    .extendedSizeChat {
      width : calc(60vw);
    }
    #coursebot {
      font-size: 1em;
      position: fixed;
      bottom: calc(4em);
      right: calc(-1 * b.$space-around + 4em);
      background-color: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      display: flex;
      flex-direction: column;
      padding: 2vh 2vw;
      border-radius: 20px;
      transition: all ease 200ms;
      


      div:nth-child(1) {

        div:nth-child(1) {
          display: flex;
          justify-content: space-between;
          svg {
            color: b.$blue-1;
            transition: all ease 200ms;
          }
          svg:hover {
            color: b.$blue-5;
          }
          svg:nth-child(1) {
            width: 2em;
            height: 2em;
            transform: rotate(45deg);
          }
          svg:nth-child(1):hover {
            transform: rotate(-135deg);
          }
          .rotateExtendButton{
            rotate: 180deg;
          }
          svg:nth-child(2){
            width: 3em;
            height: 3em;
          }
          svg:nth-child(2):hover{
            transform: rotate(12deg);
          }
          
        }
        div:nth-child(2) {
          @include b.center;
          svg {
            height: 5em;
            width: 5em;
            color: b.$blue-1;
          }
        }
      }
      .assistantChat::-webkit-scrollbar {
        width: 10px;
      }
      .assistantChat::-webkit-scrollbar-thumb {
        background: #ebebeb;
        border-radius: 20px;
      }
      .assistantChat {
        max-height: 60vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        margin-top: 2em;
      
        .leftChat {
          background-color: #F9F9F9;
          padding: 1em;
          border-radius: 20px;
        }
      
        .rightChat {
          font-family: InterBold;
          text-align: end;
        }
        form {
          
        display: flex;
        justify-content: space-between;
          input {
              height: 5vh;
              width: auto;
              border: none;
              padding: none;
              background-color: inherit;
              font-family: InterBold;

              
            }
          input:focus {
              outline: none; /* Removes the default focus outline */
          }
          button {
            border : solid 1px b.$black;
            height: 5vh;
            border-radius: 20px;
            padding: none;
            transition: all ease 200ms;
          }
          button:hover {
            background-color: b.$black;
            color: white;
          }
        }
      }
      
      
    }
    .callAssistantButton {
      width: 2em;
      height: 2em;
      padding: 0.5em;
      color: b.$black;
      border: 1px solid b.$black;
      border-radius: 20px;
      transform: translateY(40%);
      margin-left: 2vw;
      transition: all ease 200ms;
      cursor: pointer;
    }
    .callAssistantButton:hover {
      background-color: b.$black;
      color: white;
    }
    